################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Memory Allocator.VC.VC.opendb
/Memory Allocator.VC.db
/x64/Debug
/Memory Allocator/x64/Debug
